button{
    border: 2px solid blue;
    height: 6rem;
    width: 5rem;

}

.set{
    border: 2px solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}