.tablediv{
    display: flex;
    background-color:orange;
    height: 50px;
    width: 91%;
}
table{
    width: 500px;
    /* border:2px solid;  */
}
.middletd{
    /* border:2px solid; */
    width:300px;
}